* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-image: url(/jogo/imgs/Quarto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    padding: 10px;
    background-color: #5555;
    border-radius: 5px;
    margin: 2rem;
}

p,
span {
    font-size: 40px;
}

#papeis {
    position: absolute;
    width: 700px;
    height: 200px;
    bottom: 10px;
    left: 30%;
    background-color: #0000;
    cursor: pointer;
}

#porta {
    position: absolute;
    width: 210px;
    height: 400px;
    right: 10px;
    background-color: #0000;
    cursor: pointer;
}

#cama {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 23rem;
    right: 30rem;
    background-color: #0000;
    cursor: pointer;
}