body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template: 
    ". ." 6fr
    "div div" 1fr
    "p1 p2" 1fr
    "p3 p4" 1fr / 1fr 1fr;
    background-image: url(/jogo/imgs/Banheiro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    display: flex;
    grid-area: div;
    justify-content: center;
    align-items: center;
    margin-inline: 40px;
}

p {
    display: flex;
    justify-content: center;
    width: 40rem;
    align-items: center;
    cursor: pointer;
    margin-left: 65px;
}

div, p {
    background-color: #66666688;
    border-radius: 10px;
    font-size: 2rem;
    border: 1px solid #999;
    color: #999;
}

p:hover {
    background-color: #666666aa;
}

.p1 {
    grid-area: p1;
}

.p2 {
    grid-area: p2;
}

.p3 {
    grid-area: p3;
}

.p4 {
    grid-area: p4;
}