* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-image: url(/JOGO/imgs/Banheiro.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#mensagem {
    position: absolute;
    top: 200px;
    left: 400px;
    opacity: 0.2;
}

#espelho {
    position: absolute;
    top: 20px;
    left: 310px;
    width: 350px;
    height: 300px;
    background-color: #0000;
    cursor: pointer;
}