* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-y: hidden;
}

header {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25rem;
    padding: 10px;
    background-color: #5555;
    border-radius: 5px;
    margin: 2rem;
}

p {
    font-size: 40px;
    color: white;
}

#frameAtivo {
    border: none;
}