* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-image: url(/JOGO/imgs/Quarto.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#papeis {
    position: absolute;
    width: 700px;
    height: 200px;
    bottom: 10px;
    left: 30%;
    background-color: #0000;
    cursor: pointer;
}

#porta {
    position: absolute;
    width: 210px;
    height: 400px;
    right: 10px;
    top: 200px;
    background-color: #0000;
    cursor: pointer;
}

#cama {
    position: absolute;
    width: 250px;
    height: 100px;
    top: 23rem;
    right: 30rem;
    background-color: #0000;
    cursor: pointer;
}

#senha {
    display: none;
    position: absolute;
    left: 300px;
    bottom: 30px;
    width: 800px;
    height: 500px;
    background-color: #0000;
}

.numero1, .numero2, .numero3 {
    position: absolute;
    font-size: 50px;
    cursor: pointer;
}

.numero1 {
    top: 10px;
    right: 10px;
}

.numero2 {
    bottom: 50px;
    right: 80px;
}

.numero3 {
    top: 60px;
    left: 5px;
}

.dica {
    position: absolute;
    text-align: center;
    font-size: 20px;
    width: 100px;
    bottom: 120px;
    left: 250px;
    cursor: default;
}

#sair {
    display: none;
    position: absolute;
    background-color: #0002;
    cursor: pointer;
    width: 700px;
    height: 200px;
    top: 30px;
    left: 400px;
}