* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    height: 100vh;
    background-image: url(/JOGO/imgs/Sala.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

#porta {
    position: absolute;
    width: 150px;
    height: 300px;
    top: 190px;
    right: 290px;
    background-color: #0000;
    cursor: pointer;
}